body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .fade-exit {
  opacity: 1;
  transition: opacity 0.5ms ease-out;
} */

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

.page {
  height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  transition: transform 500ms ease-out;
}

.page-enter {
  transition: transform 500ms ease-out;

  transform: translateX(-100%);
}

.page-enter-active {
  transition: transform 500ms ease-out;

  transform: translateX(0);
}

.page-exit {
  z-index: -100;
  transition: transform 500ms ease-out;

  transform: translateX(0);
}

.page-exit-active {
  z-index: -100;

  transition: transform 500ms ease-out;

  transform: translate(-100%);
}
